.a11yHidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
}

.a11yHidden:focus {
  overflow: inherit;
  position: inherit;
  clip: inherit;
  clip-path: inherit;
  width: inherit;
  margin: inherit;
  border: inherit;
  padding: inherit;
  white-space: inherit;
}
